input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  color: #fff;
  background-color: black;
  font-family: 'VT323', monospace;
}

#title {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

#subtitle {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

#world {
  margin: 0 auto;
}

#legend {
  display: inline-block;
  border-style: solid;
  border-width: 3px;
  border-radius: 4px;
  border-color: #fff;
  background-color: black;
  padding: 10px;
}

.legendItem {
  margin-right: 10px;
}

.legendCell {
  width: 20px;
  height: 20px;
}

.legendDesc {
  margin-left: 30px;
}

.nonLastCell {
  float: left;
}

.Empty {
  background-color: white;
}

.Wall {
  background-color: #323232;
}

.Player {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/308710/good_guy.png");
}

.Enemy {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/308710/Baddy.png");
}

.Boss {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/308710/big_boss.png");
}

.Health {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/308710/Health.png");
}

.Weapon {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/308710/Sword.png");
}

.Hole {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/308710/Stairs.png");
}

.nonVisible {
  background-color: black;
}

.btn {
  font: inherit;
  background: inherit;
  color: inherit;
  border: 2px solid;
  border-radius: 4px;
  float: left;
  margin: 5px;
  padding: 3px;
}

.textBox {
  display: inline-block;
  border: 2px solid;
  border-radius: 4px;
  float: left;
  margin: 5px;
  padding: 3px;
}
